a {
    text-decoration: none;
    color: #74aafc;
}

a:hover {
    color: #3c8aff;
}

.form-size{
    min-width: 300px;
}

.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.rotating {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
